<!DOCTYPE html>
<html>

<head>
    <title>Chat Application</title>
    <script src="https://cdn.socket.io/socket.io-3.1.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h1>Chat Application</h1>
    <div class="d-flex flex-row justify-content-start mt-2 mb-4">
        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;"> -->
        <div id="messages">
            <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #2e96fe; color: white;">
                Connected!</p>
            <!-- <p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p> -->
        </div>
    </div>

    <input type="text" class="form-control form-control-lg" id="messageInput" placeholder="Type message">

    <script>
        const username = document.getElementById('hidden_username').testContent;
        const socket = io();

        let messageContainer = document.querySelector("#messages");

        socket.on("connect", () => {
            // let p = document.createElement("p")
            // p.innerText = "You're connected"
            // messageContainer.appendChild(p)
        })

        let messageInput = document.getElementById("messageInput")
        messageInput.addEventListener("keypress", (e) => {
            if (e.which === 13) {
                console.log(messageInput.value)
                socket.emit("message", messageInput.value)
                messageInput.value = ""
            }
        })

        socket.on('message', (message) => {
            let messageElement = document.createElement("p")
            messageElement.innerHTML = `
                            <div class="d-flex flex-row justify-content-start">
                                <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;"> -->
                                <div id="messages">
                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">${message}</p>
                                    <!-- <p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p> -->
                                </div>
                            </div>
            `
            messageContainer.appendChild(messageElement)
        })

    </script>
</body>

</html>